body {
	font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: rgb(0, 0, 0);
	color: #fff;
}
#main {
	/* background-color: red; */
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* opacity: 0.1; */
}

#main.prompActive {
	opacity: 0.1;
	filter: blur(10px);
}

#center {
	width: 918px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.scores_section {
	/* background-color: blue; */
	display: flex;
	justify-content: space-around;
	padding: 10px;
	flex-grow: 0;
}
.score_player {
	/* background-color: pink; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score_player h2 {
	margin: 0 0 10px 0;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #13fe65, 0 0 82px #13fe65,
		0 0 92px #13fe65, 0 0 102px #13fe65, 0 0 151px #13fe65;
}

.score_player p {
	margin: 0px;
	font-size: 25px;
}

.graphics {
	/* background-color: red; */
	height: 60%;
	align-items: center;
	justify-content: space-between;
	display: flex;
	overflow: hidden;
	height: 40%;
}

.graphics img {
	width: 276px;
	height: auto;
	display: block;
}

#fight_btn {
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#fight_btn:hover {
	cursor: pointer;
}

.weapons_section {
	/* background-color: green; */
	flex-grow: 1;
	max-height: 208px;
}

.cta_title {
	/* background-color: brown; */
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 10px;
}

#choose_weapon {
	width: 600px;
	margin-bottom: -50px;
	margin-right: -90px;
}
#neon_arrows {
	height: 30px;
}
.weapons_buttons_main {
	/* background-color: purple; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	padding: 5px;
}

.weapon_container {
	/* background-color: red; */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	align-items: center;
	overflow: hidden;
}

.weapon_container:hover img {
	scale: 200%;
}

.weapon_container.selected img {
	scale: 200%;
}

.weapon_container.selected {
	background-color: #bc13fe;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.weapons_buttons_main h3 {
	font-size: 30px;
	font-weight: 800;
}

.weapons_buttons_main img {
	height: 75px;
	width: auto;
	rotate: 257deg;
}

#round_winner_prompt {
	display: none;
}

#round_winner_prompt.prompActive {
	width: 568px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	background: rgb(0, 0, 0);
	/* background: radial-gradient(
		circle,
		rgba(13, 13, 190, 1) 0%,
		rgba(9, 9, 121, 1) 41%,
		rgba(2, 0, 36, 1) 100%
	); */
	justify-content: space-around;
	border: 1px solid #fff;
	border-radius: 50px;

	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#prompt_graphics_contianer img {
	width: 200px;
}

#game_winner_title {
	display: flex;
	align-items: center;
}

#reset_button {
	border: 1px solid #fff;
	padding: 5px;
	border-radius: 50px;
	width: 100px;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09,
		0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
	animation: pulsate 1.5s infinite alternate;
}

#reset_button:hover {
	cursor: pointer;
}

#match_over_graphic {
	height: 100px;
}

@keyframes pulsate {
	100% {
		text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09,
			0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
	}

	0% {
		text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09,
			0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
	}
}
