body {
	font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: rgb(13, 13, 190);
	background: radial-gradient(
		circle,
		rgba(13, 13, 190, 1) 0%,
		rgba(9, 9, 121, 1) 41%,
		rgba(2, 0, 36, 1) 100%
	);
	color: #fff;
}
#main {
	/* background-color: red; */
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* opacity: 0.1; */
}

#main.prompActive {
	opacity: 0.1;
}

#center {
	width: 918px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.scores {
	/* background-color: blue; */
	display: flex;
	justify-content: space-around;
	padding: 10px;
	flex-grow: 0;
}
.score_player {
	/* background-color: pink; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score_player h2 {
	margin: 0 0 10px 0;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #13fe65, 0 0 82px #13fe65,
		0 0 92px #13fe65, 0 0 102px #13fe65, 0 0 151px #13fe65;
}

.score_player p {
	margin: 0px;
	font-size: 25px;
}

.graphics {
	/* background-color: red; */
	height: 60%;
	align-items: center;
	justify-content: space-between;
	display: flex;
	overflow: hidden;
	height: 40%;
}

.graphics img {
	width: 276px;
	height: auto;
	display: block;
}

#fight_btn:hover {
	cursor: pointer;
}
.selections {
	/* background-color: green; */
	flex-grow: 1;
	max-height: 208px;
}

.cta_title {
	/* background-color: brown; */
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 10px;
}

.cta_title h2 {
	margin: 0px;
	font-size: 30px;
}

.selection_elements {
	/* background-color: purple; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	padding: 5px;
}

.element_container {
	/* background-color: red; */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	align-items: center;
}

/* .element_container:hover {
	outline: 5px goldenrod solid;
	cursor: pointer;
} */

.element_container:hover {
	outline: 0.2rem solid #fff;
	/* padding: 0.4em; */
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.element_container.selected {
	background-color: #bc13fe;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.selection_elements h3 {
	font-size: 30px;
	font-weight: 800;
}

.selection_elements img {
	height: 75px;
	width: auto;
	rotate: 257deg;
}

#round_winner_prompt {
	display: none;
}

#round_winner_prompt.prompActive {
	width: 568px;
	height: 240px;
	position: absolute;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	background: rgb(13, 13, 190);
	background: radial-gradient(
		circle,
		rgba(13, 13, 190, 1) 0%,
		rgba(9, 9, 121, 1) 41%,
		rgba(2, 0, 36, 1) 100%
	);
}

#prompt_graphics_contianer img {
	width: 200px;
}
