body {
	margin: 0;
	font-family: 'Orbitron', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#center {
	background-color: #2b2b2b;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	color: white;
}

#main_calculator_container {
	/* background-color: red; */
	width: 408px;
	height: 520px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	box-shadow: 10px 10px 44px -3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 10px 10px 44px -3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px 10px 44px -3px rgba(0, 0, 0, 0.6);
}

#display_main {
	position: relative;
	margin-bottom: 5px;
}

#display {
	background-color: #505050;
	height: 100px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	font-size: 60px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}
#calculator_keys {
	/* background-color: rgb(234, 39, 39); */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 5px;
}

.button_row {
	/* background-color: purple; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 3px;
}

#Enter {
	background-color: #ff9500;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 30px;
	cursor: pointer;
}

.button.operator {
	background-color: #ff9500;
}

.button.operator:active {
	background-color: #c47300;
}

.button.special {
	background-color: #505050;
}

#joke {
	background-color: #505050;
}

.button.special:active {
	background-color: #3a3a3a;
}

.button.number {
	background-color: #d4d4d2;
}

.button.number:active {
	background-color: #b4b4b4;
}

.button_row.three {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 3px;
}

#zero {
	grid-column: 1/3;
	grid-row: 1/2;
}
#delete {
	background-color: rgb(82, 82, 82);
	display: flex;
	align-items: center;
	justify-content: center;
}

#display_feedback {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	right: 0px;
	top: 0px;
	border-radius: 5px;
}

#display p {
	font-size: 23px;
	right: -420px;
	transition: right 10s;
	position: absolute;
	width: 100%;
	white-space: nowrap;
}

#display.active p {
	right: 600px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#decimal {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 30px;
	cursor: pointer;
	background-color: #d4d4d2;
}
#decimal:active {
	background-color: #b4b4b4;
}
